In [34]:
import pandas as pd

In [35]:
import re

In [36]:
df = pd.read_csv(r"C:\Python\us_customer_data 1 1.csv") # load the data

In [37]:
df.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold

In [38]:
df_unique = df.drop_duplicates(subset="customer_id", keep="first") #Removing Duplicates Using Customer ID

In [39]:
df.isna().sum()

customer_id           0
name                  0
email                50
phone                16
address               0
registration_date     0
loyalty_status        0
dtype: int64

In [40]:
df["name"] = df["name"].astype(str).str.strip().str.title() #Clean Customer Names, Remove extra spaces and Convert to Proper Case

In [41]:
df["email"].isna().sum() # it filters null values in the email (specific) column

np.int64(50)

In [42]:
df["email"] = df.apply(
    lambda row: f"{row['name'].lower().replace(' ', '')}@gmail.com"
    if pd.isna(row["email"]) else row["email"].lower(),
    axis=1
)

In [43]:
df.head(28)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,619-723-4258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold
1,2,Brad Newton,taylorcatherine@example.net,537-674-1158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver
2,3,Larry Torres,dsanchez@example.net,810-256-4505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze
3,4,Kimberly Price,jessicaknight@example.com,423-222-9779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold
4,5,Matthew Phillips,qwilliams@example.com,220-763-3522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold
5,6,Darrell Gallagher Dvm,larryharris@example.org,379-950-3695,"19887 Brandon Bridge, New Rebecca, MA 94947",03-03-2025,Bronze
6,7,Louis Miller,patriciaelliott@example.org,198-862-7105,"02590 Marshall Well, Sheppardland, CT 88067",30-09-2024,Gold
7,8,Melissa Galloway Md,watsonbenjamin@example.net,548-549-9586,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",06-10-2023,Bronze
8,9,Matthew Harvey,bgaines@example.net,581-144-7338,"60123 Davis Ford, Mistychester, WA 69400",31-10-2024,Silver
9,10,Rachel White,whitemichael@example.org,410-729-9740,"6182 Brown Mountain, South Gary, IL 29016",25-02-2024,Bronze
10,11,Nicole Yang,archerheather@example.org,589-638-7173,"923 Emily Mills Apt. 281, Port Roy, WI 03921",08-03-2025,Bronze
11,12,Christine Delgado,yfarrell@example.net,310-834-9008,"PSC 4025, Box 2078, APO AA 61121",18-04-2024,Bronze
12,13,Joseph Brennan,khernandez@example.com,486-789-1647,"8890 Keller Hills, North Paul, FM 64749",28-04-2024,Gold
13,14,Eric Thomas,spencer75@example.com,434-130-5478,"352 Joel Extension Suite 962, New Anthony, CO ...",09-05-2024,Bronze
14,15,Laura Perez,sdavid@example.com,319-310-5560,"1518 Green Locks Suite 348, New Brent, FM 51849",04-12-2024,Gold
15,16,Erin Matthews,uhunter@example.net,480-780-3711,"67623 Morgan Hollow, Hillshire, IL 78665",12-11-2023,Bronze
16,17,Melissa Alvarado,parkjohn@example.net,411-857-4974,"USNS Austin, FPO AP 52643",24-06-2024,Gold
17,18,Mr. Ernest Dunn,kelseybrown@example.net,687-543-7471,"3112 Lydia Freeway Suite 927, South Susan, RI ...",27-01-2025,Gold
18,19,David Johnson,marynelson@example.org,244-439-2274,"992 Harris Pines Suite 049, North Marychester,...",21-02-2025,Silver
19,20,Wayne Morales,qwilliams@example.com,875-559-3832,"15344 Hill Pike, Matthewport, FL 45434",22-02-2025,Gold
20,21,Michael Vincent,jonesjeffrey@example.com,685-935-4111,"455 Moore Orchard, New Richardhaven, RI 42023",13-06-2024,Silver
21,22,Tammie Mcgee,nsullivan@example.com,176-840-2659,"6371 Long Path Apt. 940, South Anthonyton, MT ...",24-10-2024,Silver
22,23,Marisa Martinez,zward@example.org,221-609-1291,"5029 Wall Mountain Suite 847, New Chelseabury,...",29-03-2025,Bronze
23,24,Crystal Peterson,taylorcharles@example.com,430-711-1833,"Unit 5741 Box 1124, DPO AA 18219",07-08-2023,Bronze
24,25,Jeremy Alexander,smithkevin@example.com,119-969-9309,"1520 Reid Turnpike, Clarkville, CA 39102",13-06-2025,Silver
25,26,James Graham,chawkins@example.net,997-656-7695,"2809 Young Squares, Lisaside, VA 53732",10-03-2024,Gold
26,27,William Morrison,browningdavid@example.org,486-676-8923,"76577 Keith Falls, West Melissashire, NC 55275",01-08-2024,Gold
27,28,Brandon Hall,brandonhall@gmail.com,974-123-3048,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",07-04-2024,Gold

In [44]:
df["phone"] = df["phone"].astype(str).str.strip().str.title() ##Clean email, Remove extra spaces and Convert to Proper Case

In [45]:
df["phone"] = df["phone"].str.replace(r"[A-Za-z]", "", regex="true") ## removing letteres in the rows in phone column

In [46]:
df["phone"] = df.apply (
    lambda row:"000-000-0000" if pd.isnull(row["phone"]) else(row["phone"]), axis=1) # adding phone numbers in place of null values

In [47]:
df["phone"].isna().sum()

np.int64(0)

In [48]:
df["state_code"] = df["address"].str.extract(r"\b([A-Z]{2})\b") # extract state_code from the address column

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
 7   state_code         1000 non-null   object
dtypes: int64(1), object(7)
memory usage: 62.6+ KB

In [50]:
df["country_code"] = "US" # creating a new column 'country_code' for mapping

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
 7   state_code         1000 non-null   object
 8   country_code       1000 non-null   object
dtypes: int64(1), object(8)
memory usage: 70.4+ KB

In [52]:
mapping = pd.read_csv(r"C:\Users\91833\Downloads\Country_2-3_Digits_Codes.csv") # loading new dataset for mapping columns

In [53]:
mapping.head()

          COUNTRY  A2   A3  NUM DIALINGCODE
0     Afghanistan  AF  AFG    4          93
1         Albania  AL  ALB    8         355
2         Algeria  DZ  DZA   12         213
3  American Samoa  AS  ASM   16       1-684
4         Andorra  AD  AND   20         376

In [54]:

country_to_dial = dict(zip(mapping["A2"], mapping["DIALINGCODE"])) # adding dictionary

In [55]:
country_to_dial # verify dictionary

{'AF': '93',
 'AL': '355',
 'DZ': '213',
 'AS': '1-684',
 'AD': '376',
 'AO': '244',
 'AI': '1-264',
 'AQ': '672',
 'AG': '1-268',
 'AR': '54',
 'AM': '374',
 'AW': '297',
 'AU': '61',
 'AT': '43',
 'AZ': '994',
 'BS': '1-242',
 'BH': '973',
 'BD': '880',
 'BB': '1-246',
 'BY': '375',
 'BE': '32',
 'BZ': '501',
 'BJ': '229',
 'BM': '1-441',
 'BT': '975',
 'BO': '591',
 'BQ': '599',
 'BA': '387',
 'BW': '267',
 'BV': '47',
 'BR': '55',
 'IO': '246',
 'BN': '673',
 'BG': '359',
 'BF': '226',
 'BI': '257',
 'KH': '855',
 'CM': '237',
 'CA': '1',
 'CV': '238',
 'KY': '1-345',
 'CF': '236',
 'TD': '235',
 'CL': '56',
 'CN': '86',
 'CX': '61',
 'CC': '61',
 'CO': '57',
 'KM': '269',
 'CG': '242',
 'CD': '243',
 'CK': '682',
 'CR': '506',
 'HR': '385',
 'CU': '53',
 'CW': '599',
 'CY': '357',
 'CZ': '420',
 'CI': '225',
 'DK': '45',
 'DJ': '253',
 'DM': '1-767',
 'DO': '1-809,1-829,1-849',
 'EC': '593',
 'EG': '20',
 'SV': '503',
 'GQ': '240',
 'ER': '291',
 'EE': '372',
 'ET': '251',
 'FK': '500',
 'FO': '298',
 'FJ': '679',
 'FI': '358',
 'FR': '33',
 'GF': '594',
 'PF': '689',
 'TF': '262',
 'GA': '241',
 'GM': '220',
 'GE': '995',
 'DE': '49',
 'GH': '233',
 'GI': '350',
 'GR': '30',
 'GL': '299',
 'GD': '1-473',
 'GP': '590',
 'GU': '1-671',
 'GT': '502',
 'GG': '44',
 'GN': '224',
 'GW': '245',
 'GY': '592',
 'HT': '509',
 'HM': '672',
 'VA': '379',
 'HN': '504',
 'HK': '852',
 'HU': '36',
 'IS': '354',
 'IN': '91',
 'ID': '62',
 'IR': '98',
 'IQ': '964',
 'IE': '353',
 'IM': '44',
 'IL': '972',
 'IT': '39',
 'JM': '1-876',
 'JP': '81',
 'JE': '44',
 'JO': '962',
 'KZ': '7',
 'KE': '254',
 'KI': '686',
 'KP': '850',
 'KR': '82',
 'KW': '965',
 'KG': '996',
 'LA': '856',
 'LV': '371',
 'LB': '961',
 'LS': '266',
 'LR': '231',
 'LY': '218',
 'LI': '423',
 'LT': '370',
 'LU': '352',
 'MO': '853',
 'MK': '389',
 'MG': '261',
 'MW': '265',
 'MY': '60',
 'MV': '960',
 'ML': '223',
 'MT': '356',
 'MH': '692',
 'MQ': '596',
 'MR': '222',
 'MU': '230',
 'YT': '262',
 'MX': '52',
 'FM': '691',
 'MD': '373',
 'MC': '377',
 'MN': '976',
 'ME': '382',
 'MS': '1-664',
 'MA': '212',
 'MZ': '258',
 'MM': '95',
 nan: '264',
 'NR': '674',
 'NP': '977',
 'NL': '31',
 'NC': '687',
 'NZ': '64',
 'NI': '505',
 'NE': '227',
 'NG': '234',
 'NU': '683',
 'NF': '672',
 'MP': '1-670',
 'NO': '47',
 'OM': '968',
 'PK': '92',
 'PW': '680',
 'PS': '970',
 'PA': '507',
 'PG': '675',
 'PY': '595',
 'PE': '51',
 'PH': '63',
 'PN': '870',
 'PL': '48',
 'PT': '351',
 'PR': '1',
 'QA': '974',
 'RO': '40',
 'RU': '7',
 'RW': '250',
 'RE': '262',
 'BL': '590',
 'SH': '290',
 'KN': '1-869',
 'LC': '1-758',
 'MF': '590',
 'PM': '508',
 'VC': '1-784',
 'WS': '685',
 'SM': '378',
 'ST': '239',
 'SA': '966',
 'SN': '221',
 'RS': '381',
 'SC': '248',
 'SL': '232',
 'SG': '65',
 'SX': '1-721',
 'SK': '421',
 'SI': '386',
 'SB': '677',
 'SO': '252',
 'ZA': '27',
 'GS': '500',
 'SS': '211',
 'ES': '34',
 'LK': '94',
 'SD': '249',
 'SR': '597',
 'SJ': '47',
 'SZ': '268',
 'SE': '46',
 'CH': '41',
 'SY': '963',
 'TW': '886',
 'TJ': '992',
 'TZ': '255',
 'TH': '66',
 'TL': '670',
 'TG': '228',
 'TK': '690',
 'TO': '676',
 'TT': '1-868',
 'TN': '216',
 'TR': '90',
 'TM': '993',
 'TC': '1-649',
 'TV': '688',
 'UG': '256',
 'UA': '380',
 'AE': '971',
 'GB': '44',
 'US': '1',
 'UM': '1',
 'UY': '598',
 'UZ': '998',
 'VU': '678',
 'VE': '58',
 'VN': '84',
 'VG': '1-284',
 'VI': '1-340',
 'WF': '681',
 'EH': '212',
 'YE': '967',
 'ZM': '260',
 'ZW': '263'}

In [56]:
df["dial_code"] = " + " + df["country_code"].map(country_to_dial) + "-" #mapping country_code, dail_code and creating new column as dail_code

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   phone              1000 non-null   object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
 7   state_code         1000 non-null   object
 8   country_code       1000 non-null   object
 9   dial_code          1000 non-null   object
dtypes: int64(1), object(9)
memory usage: 78.3+ KB

In [60]:
df["phone"] = df["phone"].astype(str).str.replace(r"\D", "", regex=True)

In [62]:
df["phone_no"] = df.apply(
    lambda row: f"{row['dial_code']} ({row['phone'][:3]}) {row['phone'][3:6]}-{row['phone'][6:10]}"
    if len(row["phone"]) >= 10 else "INVALID NUMBER",
    axis=1
)

In [63]:
df.head()

,customer_id,name,email,phone,address,registration_date,loyalty_status,state_code,country_code,dial_code,phone_no
0,1,Michelle Kidd,vayala@example.net,6197234258,"USNS Santiago, FPO AE 80872",25-01-2025,Gold,AE,US,+ 1-,+ 1- (619) 723-4258
1,2,Brad Newton,taylorcatherine@example.net,5376741158,"38783 Oliver Street, West Kristenborough, MT 9...",13-07-2023,Silver,MT,US,+ 1-,+ 1- (537) 674-1158
2,3,Larry Torres,dsanchez@example.net,8102564505,"6845 Steele Turnpike, West Erikabury, UT 37487",18-08-2023,Bronze,UT,US,+ 1-,+ 1- (810) 256-4505
3,4,Kimberly Price,jessicaknight@example.com,4232229779,"1631 Alexis Meadows, Lake Amanda, CA 75179",08-12-2024,Gold,CA,US,+ 1-,+ 1- (423) 222-9779
4,5,Matthew Phillips,qwilliams@example.com,2207633522,"2274 Williams Heights Suite 895, Andersonhaven...",03-02-2024,Gold,OR,US,+ 1-,+ 1- (220) 763-3522

In [64]:
df = df.drop(columns=['phone']) # remove the column phone

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              1000 non-null   object
 3   address            1000 non-null   object
 4   registration_date  1000 non-null   object
 5   loyalty_status     1000 non-null   object
 6   state_code         1000 non-null   object
 7   country_code       1000 non-null   object
 8   dial_code          1000 non-null   object
 9   phone_no           1000 non-null   object
dtypes: int64(1), object(9)
memory usage: 78.3+ KB

In [67]:
df.to_csv(r"C:\Python\us_customer_data_after_cleaning_and_mapping1.csv", index=False)